* {
  text-decoration: none;
}
.App {
  text-align: center;
}

.bookCard {
  background-color: rgb(219, 191, 191);
  margin: 20px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  overflow: hidden;
}

.bookCard:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.bookCard img {
  width: 100%;
  height: 200px;
}

.sortByTitleAsc,
.sortByTitleDesc,
.sortByPriceAsc,
.sortByPriceDesc {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.title,
.price {
  margin: 10px;
  padding: 0;
  display: inline-block;
}

.bookContainer table {
  text-align: left;
  margin: auto;
}

tr,
td {
  padding: 20px 10px;
  font-weight: bolder;
}
