* {
  padding: 0;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.navbar button {
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
}
