.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.form-container {
  text-align: left;
}

.all-data-container {
  text-align: left;
}

tr,
td {
  padding: 10px;
  text-align: center;
}
